<div *ngIf="error && true" class="container" style="justify-content: center;">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
            <h1>Oops, an error occured!</h1>
            <p style="color: red;">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div *ngIf="movies">
    <p *ngFor="let movie of movies">{{movie.startDate}} {{movie.title}}</p>
    <pre>{{movies | json}}</pre>
</div> -->

<div *ngIf="movies" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
        <img mat-card-image [src]="movie.poster">
        <mat-card-content>
            <h1>{{movie.title}}</h1>
            <p>Opis: <br>{{movie.shortDescription}}</p>
            <p>Trajanje: {{movie.runTime}} min.</p>
            <p>Projekcija: {{utils.formatDateTime(movie.startDate)}}</p>
            <p>Cena Karte: 549.99 din</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/', movie.movieId]">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Detalji
            </a>
            <a mat-button [routerLink]="['/details/'+movie.movieId+'/order']">
                <i class="fa-solid fa-cart-shopping"></i> Rezervisi
            </a>
            <a mat-button>
                <i class="fa-solid fa-comments"></i> Recenzije
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<app-loading *ngIf="!movies && !error" />